<!DOCTYPE html>
<html lang="en">
<head>
<title>Covid Safe Furs - {{ title or metadata.title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:title" content="Covid Safe Furs - {{ title or metadata.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ page.url }}" />
<meta property="og:image" content="https://covidsafefurs.org/logo.png" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link href="/style.css" rel="stylesheet">
</head>
<body>
<div class="container">
<header>
	<div class="navigation">
		<ul class="menu">
			<li><a href="./">Home</a></li>
			<li><a href="about">About</a></li>
			<li><a href="guide">Guide</a></li>
			<li><a href="pointsofunity">Points of Unity</a></li>
			<li><a href="events">Events</a></li>
			<li><a href="links">Links</a></li>
			<li><a href="contribute">Contribute</a></li>
			<li><a href="telegram">Telegram</a></li>
		</ul>
	</div>
</header>

		<main class="article">
			{{ content | safe }}
		</main>


</body>
</html>